[ {op_worker,
     [
       {minimal_sync_request,1024},
       {rtransfer_min_hole_size, 2097152},
       {synchronizer_events, off}
     ]
  },
  {rtransfer_link,
     [
       {transfer,
          [
        {server_port, 6665},
            {block_size, 10485760},
            {data_conns_per_link, 32},
            {recv_buffer_size, 8388608},
            {send_buffer_size, 8388608},
            {max_incoming_buffered_size, 20971520},
            {storage_buckets, 300},
            {throughput_probe_interval, 25},
            {send_congestion_flavor, "bbr"}
          ]
       },
       {shaper,
        [
          {quantum_ms_size, 50}
        ]}
     ]
  }
].

